<!--admin側Topページ-->

<h1 class="text-center">admin/Top</h1>

  ログイン中
  <!--btn-block＝幅いっぱいに広がる-->
  <%= link_to 'サインアウト', destroy_admin_session_path, class: "btn btn-secondary btn-block", method: :delete %>
  <%= link_to '会員一覧', admin_users_path, class: "btn btn-secondary btn-block" %>
  <%= link_to '寺社投稿', new_admin_place_path, class: "btn btn-secondary btn-block" %>
  <%= link_to '寺社一覧', admin_places_path, class: "btn btn-secondary btn-block" %>