<!--退会確認ページ-->
<div class="content"> <!--WEBサイトページの定義（余白左右15px自動生成される）-->
  <div class="row"> <!--行を作る-->
    <!--行の幅をどれくらい使用するか-->
    <div class="col-md-8 mx-auto text-center">  <!--mx-auto:水平方向に中央揃え-->
      <h2 class="mb-5">本当に退会しますか？</h2>
      <p>
        退会すると、会員登録情報や<br>
        これまでの御朱印履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>

      <%= link_to "退会しない", users_mypage_path(@user), :class => "btn btn-info btn-block" %>
      <%= link_to "退会する", users_withdraw_path(@user), method: :patch, :class => "btn btn-danger btn-block", data: { confirm: "本当に退会しますか？" }  %>

    </div>
  </div>
</div>
