<!--ユーザー側Topページ-->
<h1 class="text-center">user/Top</h1>
<% if user_signed_in? %>
  ログイン中
  <!--btn-block＝幅いっぱいに広がる-->
  <%= link_to 'サインアウト', destroy_user_session_path, class: "btn btn-secondary btn-block mb-3", method: :delete %>
<% else %>
  <%= link_to "ゲストサインイン（閲覧用）", user_guest_sign_in_path, class: "btn btn-secondary btn-block mb-3", method: :post %>
  <%= link_to 'サインアップ', new_user_registration_path, class: "btn btn-secondary btn-block mb-3" %>
  <%= link_to 'ユーザーサインイン', new_user_session_path, class: "btn btn-secondary btn-block mb-3" %>
<% end %>